<!-- <div class="searchBar">
    <input type="text" class="full-width" matInput placeholder="Total amount of Licencing Invoices"
        [(ngModel)]="searchQuery">
    <mat-form-field MatFormFieldControl>

        <mat-icon matSuffix>mic</mat-icon>
        <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>
</div> -->

<div class="RNNXgb">
    <div class="SDkEP">
        <div class="a4bIc">
            <div class="vdLsw gsfi" jsname="vdLsw"></div>
            <input class="gLFyf gsfi" type="text" title="Search" placeholder="Total amount of Licencing Invoices"
                aria-label="Search">
        </div>
        <div class="dRYYxd">
            <div class="JC0tCe" aria-label="Search by voice"><span class="hb2Smf"></span></div>
        </div>
    </div>
</div>