.RNNXgb {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    width: 630px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 16px;
    padding-left: 20px;
    width: 90%
}

.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.vdLsw {
    color: transparent;
    flex: 100%;
    white-space: pre;
}

.gsfi{
    line-height: 34px;
    height: 34px !important;
}

.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
}

.dRYYxd {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.JC0tCe {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.hb2Smf {
    background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}